@model KangtingBiz.Domain.Models.Category

@{
    ViewBag.Title = "Edit";
}

<h2>編輯分類項目</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Product</h4>
        <hr />
        @Html.ValidationSummary(true, "")
        @Html.HiddenFor(model => model.EntityId)

        <div>
            @Html.LabelFor(model => model.CategoryName)
            <div class="col-md-10">
                @Html.EditorFor(model => model.CategoryName)
                @Html.ValidationMessageFor(model => model.CategoryName, "")
            </div>
        </div>     
        <div>
            <div>
                <input type="submit" value="確認" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>